body {
    background-image: url('/images/wpgot.jpeg'); /* Cambia la URL por la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Hace que el body siempre ocupe el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
h1 {
    font-family: 'Playfair Display', serif;
    color: #2c3e50;
}
nav.navbar {
    background-color: #34495e;
}
nav.navbar a.nav-link {
    color: white;
}
img {
    aspect-ratio: 1 / 1; /* Mantiene una proporción de 1:1 (cuadrado) */
    width: 400px; /* Se ajusta al ancho del contenedor */
    height: 600px; /* La altura se ajusta automáticamente */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    border-radius: 10px; /* Esquinas redondeadas */
}
p {
    font-size: 18px; /* Cambia este valor al tamaño que desees */
    line-height: 1.6; /* Ajusta la altura de la línea para mejorar la legibilidad */
}
.container, .card {
    border: none !important; /* Elimina los bordes */
    box-shadow: none !important; /* Elimina cualquier sombra */
    background-color: transparent !important; /* Asegura que sean transparentes */
}
.btn-primary {
    background-color: #2980b9;
    border-color: #2980b9;
}
.btn-secondary {
    background-color: #8e44ad;
    border-color: #8e44ad;
}
button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #1abc9c;
    transform: scale(1.05);
}
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
