@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Nunito:wght@300;400;700&display=swap');

body {
    background-image: url('/images/Fondo.jpg'); /* Cambia la URL por la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Hace que el body siempre ocupe el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
    color: #e1e1e1;
}

h1 {
    font-family: "Grenze Gotisch", serif;
    color: #d6dbdf;
}

nav.navbar {
    background-color: #34495e;
    font-family: 'Lora', serif; /* Usa la fuente Lora en la navbar */
}

nav.navbar a.nav-link {
    color: white;
    font-weight: 700; /* Hace que los enlaces sean negritas */
}

img {
    aspect-ratio: 1 / 1; /* Mantiene una proporción de 1:1 (cuadrado) */
    width: 400px; /* Se ajusta al ancho del contenedor */
    height: 600px; /* La altura se ajusta automáticamente */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsión */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 20px #989797;
}

p {
    font-size: 25px; /* Cambia este valor al tamaño que desees */
    line-height: 1.6; /* Ajusta la altura de la línea para mejorar la legibilidad */
    font-family: "Cinzel", serif;
}

.container, .card {
    border: none !important; /* Elimina los bordes */
    box-shadow: none !important; /* Elimina cualquier sombra */
    background-color: transparent !important; /* Asegura que sean transparentes */
}

.btn-primary {
    background-color: #12033c;
    border-color: #0d0237;
    height: 50px;
    width: 200px;
    font-family: 'Nunito', sans-serif;
    margin-right: 30px;
}

.btn-secondary {
    background-color: #12033c;
    border-color: #0d0237;
    height: 50px;
    width: 200px;
    font-family: 'Nunito', sans-serif;
}

button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #595a52;
    transform: scale(1.05);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    font-family: 'Lora', serif; /* Usa la fuente Lora en el footer */
}
